---
layout: default
---

<article class="page">
    {% if page.title %}
    <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    <div class="talk">
      <div class="media">

        {% if page.slideshare %}
        <iframe src='http://www.slideshare.net/slideshow/embed_code/key/{{page.slideshare}}'
         frameborder='0' marginwidth='0' marginheight='0'
         width='340' height='290'
          scrolling='no' style='border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px'
           allowfullscreen></iframe>
       {% endif %}
       </div>
      <div class="info">{{ content }}</div>
    </div>
</article>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
