.project {
   .title {
     margin-bottom: 20px;
   }
   .icon {
     float: left;
     width: 200px;
     height: 200px;
   }
   .info {
     margin-top: 20px;
     margin-left: 250px;
     font-size: 1.5em;
     min-height: 100px;
     font-weight: bold;
   }
   .download {
     height: 80px;
     .link {
       font-size: 1.3em;
       font-weight: bold;
        display: block;
        float: left;
        height: 100%;
        margin-left: 50px;
      }
   	}


   	@media screen and (max-width: 600px) {
     .icon {
       display: block;
       margin: auto;
       float: none;
     }
     .info {
       min-height: 0px;
       width: 100%;
       margin-left: 5px;
       margin-top: 10px;
       font-size: 1.5em;
     }
     .download {
       margin-top: 10px;
       width: 100%;
       .link {
         text-align: center;
         display: block;
         margin: auto;
         float: none;
       }
     }

   }
 }

 .talk:after {
    clear: both;
    content: "";
    display: block;
 }
