article code {
  background: $color-gray04;
  border: none;
  padding: 3px 5px;
}

article .entry-content {
  blockquote {
    p:last-child {
      margin-bottom: 0 !important;
    }
    footer {
      margin-top: 1.5em;
    }
  }

  p {
    margin-top: 1em;
  }

  h4 {
    margin-top: 2em;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  width: 0;
}
